.footer {
    background: #0f0f0f;
    color: #d7d7d7;
    padding: 45px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

.footer-box {
    min-width: 250px;
    flex: 1;
}

.footer-box h3 {
    color: #f08d1a;
    margin-bottom: 10px;
    font-size: 19px;
}

.footer-box p {
    font-size: 14px;
    line-height: 22px;
    color: #cacaca;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: #4d4d4d;
    margin: 25px 0;
}

.footer-copy {
    text-align: center;
    font-size: 13px;
    color: #bdbdbd;
}

.instagram-box {
    margin-top: 12px;
}

.instagram-box .insta-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.instagram-box i {
    font-size: 22px;
    color: #fff;  /* ou outra cor */
}

.instagram-box p {
    margin: 2px 0;
}