* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0d0d0d;
    color: #fff;
}

.navbar {
    width: 100%;
    padding: 18px 60px;
    background: rgba(15, 15, 15, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 70px;
    height: auto;
    background: #2a2a2a;
    padding: 5px 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #ff9d00;
}

.logo-text {
    font-size: 20px;
}

.logo-text strong {
    color: #ff9d00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
    color: #ff9d00;
}

.mobile-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #ff9d00;
    cursor: pointer;
}

@media (max-width: 768px) {

    .mobile-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #1b1b1b;
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
        display: none;
        border-top: 1px solid #222;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar {
        padding: 18px 25px;
    }
}
.footer {
    background: #0f0f0f;
    color: #d7d7d7;
    padding: 45px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

.footer-box {
    min-width: 250px;
    flex: 1;
}

.footer-box h3 {
    color: #f08d1a;
    margin-bottom: 10px;
    font-size: 19px;
}

.footer-box p {
    font-size: 14px;
    line-height: 22px;
    color: #cacaca;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: #4d4d4d;
    margin: 25px 0;
}

.footer-copy {
    text-align: center;
    font-size: 13px;
    color: #bdbdbd;
}

.instagram-box {
    margin-top: 12px;
}

.instagram-box .insta-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.instagram-box i {
    font-size: 22px;
    color: #fff; 
}

.instagram-box p {
    margin: 2px 0;
}